body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    color: #333;
}

.header {
    background: linear-gradient(120deg, #de8d8d, #6b4f4f);
    justify-content: center;
    border-radius: 10px;
    line-height: 1.5;
}

.header h1 {
    text-align: center;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
}

.header p {
    text-align: center;
    color: white;
    padding: 10px;
    opacity: 0.9;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

.topics-grid {
    display: flex;
    gap: 1.5rem;
    padding: 30px;
    justify-content: center;
}

.topic-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1.5rem;
    padding: 30px;
    justify-content: center;
}

.topic-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.topic-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: 0.8;
}

.topic-card h3 {
    color: #de8d8d;
}

.topic-card p {
    opacity: 0.5;
    color: rgb(34, 20, 11);
}

#top {
    background-color: rgb(76, 114, 226);
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin: 30px;
}

#top:hover {
    background-color: rgb(13, 27, 70);
    transition: 1s;
}

#prev-page {
    background-color: rgb(76, 114, 226);
    color: white;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    float: left;
}

#next-page {
    background-color: rgb(35,214,62);
    color: white;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    float: right;
}

footer {
    background-color: #6b4f4f;
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 80px;
}