body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    color: #333;
}

.header {
    background: linear-gradient(120deg, #de8d8d, #6b4f4f);
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    border: 4px solid #482121;
}

.header h1 {
    color: rgb(112, 27, 27);
    margin-bottom: 15px;
}

.header p {
    color: white;
    margin: 0;
    opacity: 0.9;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

.tcards {
    display: flex;
    gap: 1.5rem;
    padding: 30px;
    justify-content: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.5rem; 
    padding: 30px;
    justify-content: center;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    box-shadow: 0 4px 6px rgb(59, 11, 11);
    transition: 0.3s ease;
    border: 3px solid #482121;
}

.card:hover {
    transform: translatex(-10px);
}

.card h3 {
    color: #de8d8d;
}

.card p {
    opacity: 0.5;
    color: rgb(34, 20, 11);
}

button.btn {
    background-color: rgb(33, 140, 67);
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
}

button.btn:hover {
    background-color: rgb(193, 142, 48);
}

#top {
    background-color: rgb(76, 114, 226);
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    float: right;
    margin: 30px;
}

#top:hover {
    background-color: rgb(13, 27, 70);
    transition: 1s;
}

.container {
    display: flex;
    margin: 80px auto;
    padding: 20px;
    width: 80%;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 4px solid rgb(209, 182, 130);
    gap: 20px;
}

.left, 
.right, 
.content, 
.example {
    padding: 20px;
    background-color: aliceblue;
    border-radius: 20px;
    border: 4px double rgb(76, 114, 226);
    flex: 1;
}

.report-card {
    border-collapse: collapse; 
    border: 2px solid rgb(59, 0, 0);
    border: 1;
}

.report-card th,
.report-card td {
    border: 1px solid black;
    text-align: center;
}

button.btn-primary {
    border-radius: 20px;
    border: none;
    padding: 10px;
    background-color: lightgreen;
    font-weight: 700;
}

button.btn-secondary {
    border-radius: 20px;
    border: none;
    padding: 10px;
    background-color: rgb(209, 57, 57);
    font-weight: 700;
}

.image, .intro-image {
    padding: 20px;
    margin: 20px auto;
    background-color: aliceblue;
    border-radius: 20px;
    width: 400px;
    height: 350px;
    border: medium solid rgb(107, 150, 175);
}

#prev-page {
    background-color: rgb(76, 114, 226);
    color: white;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    float: left;
}

#prev-page:hover {
    background-color: rgb(13, 27, 70);
}

#next-page {
    background-color: rgb(35, 214, 62);
    color: white;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    float: right;
}

#next-page:hover {
    background-color: green;
}

footer {
    background-color: #6b4f4f;
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 80px;
    border: 4px solid #3e3434;
}