* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    align-items: center;
    padding: 1.5rem;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1a4b91;
    border: 2px solid black;
    color: white;
    position: relative;
    padding: 40px;
    align-items: center;
    margin: 50px auto;
    width: 80%;
    min-height: 80vh;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
}

.hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 20%;
    background-color: white;
    transform-origin: bottom left;
    clip-path: polygon(0 100%, 0 50%, 100% 0, 100% 100%);
}

.navbar {
    display: flex;
    align-items: center;
    gap: 300px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 30px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.navbar-links a:hover {
    opacity: 0.8;
    color: palevioletred;
}

.navbar-actions {
    display: flex;
    gap: 20px;
    align-items: center;    
}

.login {
    color: rgb(127, 195, 197);
    position: absolute;
    right: 180px;
}

.login:hover {
    opacity: o.8;
    color: rgb(96, 60, 14);
}

.join-btn {
    position: absolute;
    right: 60px;
    color: white;
    background-color: #0f97ec;
    border-radius: 8px;
    padding: 10px;
    border: none;
    font-weight: 700;
    transition: 0.5s;
}

.join-btn:hover {
    opacity: 0.8;
}

.hero-content {
    justify-content: center;
    text-align: center;
    max-width: 700px;
    margin: 200px;
    line-height: 1.6;
}

.hero-content h1 {
    color: white;
    font-size: 2.5rem;
    margin: 1rem 0;

}

.welcome {
    color: lightblue;
    font-weight: bold;
}

.subtext {
    line-height: 1.6;
    color: white;
    gap: 20px;
    opacity: 0.8;
}

.hero-button {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 1.5rem;
}

.btn {
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}

.btn.primary {
    background-color: #0f97ec;
    color: white;
}

.btn.primary:hover {
    opacity: 0.8;
}

.btn.secondary {
    background-color: #1a4b91;
    color: rgb(127, 195, 197);
    border: 1px solid rgb(127, 195, 197);
}

.btn.secondary:hover {
    opacity: 0.8;
    background-color: red;
}