* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 30px 200px;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #50e3dc, #cbbbc0);
}

header {
    display: flex;
    color: rgb(195, 140, 140);
    padding: 2rem 0;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.brand {
    display: flex;
    align-items: center;
}

header img {
    border-radius: 30px;
    width: 50px;
    margin-left: 120px;
}

header h3 {
    text-align: center;
    line-height: 1.6;
}

nav {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

nav span {
    color: rgb(146, 97, 97);
    font-weight: 600;
    text-align: center;
    line-height: 1.6;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.actions span {
    font-weight: 600;
}

.actions .btn {
    background-color: blue;
    border-radius: 20px;
    border: none;
    padding: 15px;
    color: white;
    font-weight: bold;
}

h1 {
    text-align: center;
}

.container-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.main-content {
    flex: 3;
    min-width: 250px;
}

.sidebar {
    flex: 1;
    min-width: 250px;
}

article {
    margin: 30px;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-widget {
    margin: 30px;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-widget p {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}