* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

.navbar {
    background: linear-gradient(90deg, #200045, #330066);
    width: 100%;
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.logo img {
    margin-right: 10px;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}

nav a.active {
    text-decoration: underline;
    text-underline-offset: 10px;
    font-weight: 600;
}

.trade-btn {
    background: none;
    border: 4px solid #ff5f60;
    border-radius: 25px;
    padding: 10px 22px;
    font-size: 20px;
    color: white;
}

.trade-btn:hover {
    color: #ff4b4b;
}

.about-section {
    background: linear-gradient(90deg, #200045, #330066);
    text-align: center;
    color: white;
    margin-top: 100px;
    padding: 80px 20px;
    font-size: 25px;
}

.about-section p {
    opacity: 0.8;
}

.content h2 {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.story-focus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 40px;
}

.story-content,
.focus-content,
.impact-content {
    background: white;
    /* margin: 40px; */
    padding: 30px;
    border-radius: 20px;
    border-top: 8px solid #330066;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.story-content:hover,
.focus-content:hover,
.impact-content:hover {
    transform: translateY(-10px);
}

.story-content h3,
.focus-content h3,
.impact-content h3 {
    text-align: center;
    font-size: 20px;
}

.story-content p,
.focus-content p,
.impact-content p {
    font-size: 18px;
}

.our-work {
    background: #fff;
    font-size: 25px;
    padding: 20px;
    margin-top: 20px;
}

.our-work h2 {
    text-align: center;
}

.work-ahead {
    display: flex;
    gap: 30px;
    padding: 20px 40px;
}

.work-content,
.ahead-future {
    background: #f4f4f4;
    border-radius: 15px;
    flex: 1;
    /* border-left: 8px solid #330066; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.work-content img,
.ahead-future img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.work-content p,
.ahead-future p {
    margin: 15px;
    font-size: 20px;
}

.work-content:hover,
.ahead-future:hover {
    transform: translateY(-10px);
}

footer {
    background-color: #330066;
    justify-content: space-between;
    padding: 100px;
    color: white;
    font-size: 20px;
}

.container {
    display: flex;
    gap: 10px;
    line-height: 2.5;
    border-bottom: 3px solid white;
    padding-bottom: 20px;
}

.container p {
    opacity: 0.5;
}

.container p:hover {
    transform: translateX(-10px);
    color: #ff5f60;
}

.copy {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(106, 106, 106);
    color: white;
    border-radius: 8px;
    background: none;
    border: 1px solid white;
}

.social-icons i:hover {
    background-color: #ff5b5b;
}

@media (max-width: 900px) {
    .about-section {
        font-size: 20px;
        padding: 60px 20px;
    }
    .story-focus {
        grid-template-columns: 1fr;
        padding: 20px;
        gap: 20px;
    }
    .work-ahead {
        flex-direction: column;
        gap: 30px;
    }
    .work-content img,
    .ahead-future img {
        height: 200px;
    }
    footer {
        padding: 50px;
        font-size: 18px;
    }

    footer .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
    }
}