* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    line-height: 1.6;
}

.navbar {
    background: linear-gradient(90deg, #200045, #330066);
    width: 100%;
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.logo img {
    margin-right: 10px;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}

nav a.active {
    text-decoration: underline;
    text-underline-offset: 10px;
    font-weight: 600;
}

.trade-btn {
    background: none;
    border: 4px solid #ff5f60;
    border-radius: 25px;
    padding: 10px 22px;
    font-size: 20px;
    color: white;
}

.trade-btn:hover {
    color: #ff4b4b;
}

.blog-hero {
    background: linear-gradient(90deg, #200045, #330066);
    text-align: center;
    color: white;
    margin-top: 100px;
    padding: 80px 20px;
    font-size: 25px;
}

.blog-hero p {
    opacity: 0.8;
}

.latest-articles {
    padding: 40px;
    background: #f4f4f4;
    justify-content: space-between;
}

.latest-articles h2 {
    text-align: center;
    font-size: 40px;
}

.article-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 100px;
    justify-content: space-between;
}

.article-card {
    background: white;
    border-radius: 20px;
    padding: 30px;
    font-size: 20px;
    font-weight: 500;
    border-left: 8px solid #421473;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article-card .date {
    color: gray;
    font-size: 20px;
    display: block;
}

.article-card:hover {
    transform: translateX(-10px);
}

.article-card button {
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: 600;
}

.article-card button:hover {
    background: #ff5b5b;
    color: white;
}

.blog {
    text-align: center;
    padding: 80px;
    background: #12003a;
    color: white;
}

.blog h2 {
    font-size: 45px;
}

.blog p {
    font-size: 32px;
    margin-top: 15px;
}

.blog-box {
    margin: 60px auto;
    width: 40%;
    display: flex;
    align-items: center;
    padding: 5px;
    border: 3px solid white;
    border-radius: 50px;
}

.blog-box input {
    flex: 1;
    padding: 18px 40px;
    background: transparent;
    border: none;
    color: white;
    font-size: 18px;
}

.blog-box button {
    padding: 18px 40px;
    background: #ff6b6b;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.blog-box button:hover {
    background: #f94444;
}

footer {
    background-color: #330066;
    justify-content: space-between;
    padding: 100px;
    color: white;
    font-size: 20px;
}

.container {
    display: flex;
    gap: 10px;
    line-height: 2.5;
    border-bottom: 3px solid white;
    padding-bottom: 20px;
}

.container p {
    opacity: 0.5;
}

.container p:hover {
    transform: translateX(-10px);
    color: #ff5f60;
}

.copy {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(106, 106, 106);
    color: white;
    border-radius: 8px;
    background: none;
    border: 1px solid white;
}

.social-icons i:hover {
    background-color: #ff5b5b;
}

@media (max-width: 900px) {
    .blog-hero {
        font-size: 20px;
    }

    .article-cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        margin: 20px;
    }

    .article-card {
        font-size: 18px;
        padding: 20px;
    }

    .blog {
        padding: 40px 20px;
    }

    .blog h2 {
        font-size: 32px;
    }

    .blog p {
        font-size: 24px;
    }

    .blog-box {
        width: 100%;
    }

    .blog-box input,
    .blog-box button {
        padding: 12px 20px;
        font-size: 16px;
    }

    footer {
        padding: 50px;
        font-size: 18px;
    }

    footer .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
    }
}