* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

.navbar {
    background: linear-gradient(90deg, #200045, #330066);
    width: 100%;
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.logo img {
    margin-right: 10px;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}

nav a.active {
    text-decoration: underline;
    text-underline-offset: 10px;
    font-weight: 600;
}

.trade-btn {
    background: none;
    border: 4px solid #ff5f60;
    border-radius: 25px;
    padding: 10px 22px;
    font-size: 20px;
    color: white;
}

.trade-btn:hover {
    color: #ff4b4b;
}

.company-hero {
    background: linear-gradient(90deg, #200045, #330066);
    color: white;
    padding: 80px 20px;
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
}

.company-hero h2,
.company-future h2,
.company-choose h2,
.company-do h2,
.company-values h2,
.company-journey h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
}

.company-hero p {
    font-size: 25px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.company-future {
    padding: 60px;
    text-align: center;
}

.company-future .card h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.company-future p {
    font-size: 20px;
    opacity: 0.8;
}

.cards {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card {
    width: 350px;
    background: #fff;
    border-radius: 20px;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
    border-top: 8px solid #421473;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
}

.company-choose {
    background: #421473;
    color: white;
}

.company-do,
.company-choose {
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    padding: 60px 80px;
    text-align: left;
}

.company-do .do-content,
.company-choose .choose-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.company-do .left,
.company-choose .right {
    flex: 1;
    font-size: 25px;
}

.company-do .right img,
.company-choose .left img {
    max-width: 600px;
    border-radius: 20px;
    height: 400px;
}

.company-do ul,
.company-choose ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.company-do ul li,
.company-choose ul li {
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 22px;
}

.company-do p,
.company-do ul,
.company-choose p,
.company-choose ul {
    text-align: left;
}

.values-journey {
    display: flex;
    gap: 50px;
    justify-content: center;
    background-color: #12003a;
    color: white;
}

.company-values,
.company-journey {
    flex: 1;
    padding: 60px 80px;
    text-align: center;
    font-size: 25px;
}

.company-values ul,
.company-journey p {
    list-style: none;
    text-align: left;
}

footer {
    background-color: #330066;
    justify-content: space-between;
    padding: 100px;
    color: white;
    font-size: 20px;
}

.container {
    display: flex;
    gap: 10px;
    line-height: 2.5;
    border-bottom: 3px solid white;
    padding-bottom: 20px;
}

.container p {
    opacity: 0.5;
}

.container p:hover {
    transform: translateX(-10px);
    color: #ff5f60;
}

.copy {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(106, 106, 106);
    color: white;
    border-radius: 8px;
    background: none;
    border: 1px solid white;
}

.social-icons i:hover {
    background-color: #ff5b5b;
}

@media (max-width: 900px) {
    .company-hero {
        font-size: 20px;
    }

    .cards {
        padding: 20px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .company-do .do-content,
    .company-choose .choose-content {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .company-do .right img,
    .company-choose .left img {
        height: auto;
        width: 100%;
        border-radius: 20px;
    }

    .values-journey {
        flex-direction: column;
        gap: 20px;
    }

    footer {
        padding: 50px;
        font-size: 18px;
    }

    footer .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
    }
}