* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    line-height: 1.6;
}

.navbar {
    background: linear-gradient(90deg, #200045, #330066);
    width: 100%;
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.logo img {
    margin-right: 10px;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}

nav a.active {
    text-decoration: underline;
    text-underline-offset: 10px;
    font-weight: 600;
}

.trade-btn {
    background: none;
    border: 4px solid #ff5f60;
    border-radius: 25px;
    padding: 10px 22px;
    font-size: 20px;
    color: white;
}

.trade-btn:hover {
    color: #ff4b4b;
}

.contact-hero {
    background: linear-gradient(90deg, #200045, #330066);
    color: white;
    padding: 80px 20px;
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
}

.contact-hero p {
    opacity: 0.8;
}

.contact-container {
    background-image: url("../assets/contact.png");
    display: flex;
    justify-content: center;
    padding: 60px 20px;
    gap: 60px;
}

.contact-info {
    background-color: rgb(249, 244, 244);
    padding: 60px 60px;
    border-radius: 60px 20px;
    gap: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 20px;
}

.contact-info h2 {
    text-align: center;
    font-size: 30px;
}

.info-block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-block i,
.info-block h3 {
    font-size: 28px;
}

.info-block p {
    font-size: 22px;
}

.contact-form {
    background-color: rgb(249, 244, 244);
    padding: 60px 60px;
    border-radius: 20px 60px;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 20px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 20px;
}

.contact-form button {
    background-color: #330066;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
}

.contact-form button:hover {
    background-color: #ff5f60;
}

footer {
    background-color: #330066;
    justify-content: space-between;
    padding: 100px;
    color: white;
    font-size: 20px;
}

.container {
    display: flex;
    gap: 10px;
    line-height: 2.5;
    border-bottom: 3px solid white;
    padding-bottom: 20px;
}

.container p {
    opacity: 0.5;
}

.container p:hover {
    transform: translateX(-10px);
    color: #ff5f60;
}

.copy {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(106, 106, 106);
    color: white;
    border-radius: 8px;
    background: none;
    border: 1px solid white;
}

.social-icons i:hover {
    background-color: #ff5b5b;
}

@media(max-width: 900px){
    .contact-hero {
        font-size: 20px;
    }
    .contact-container {
        padding: 30px;
        flex-direction: column;
        align-items: center;
    }

    .contact-info,
    .contact-form {
        padding: 30px;
        border-radius: 20px;
    }
    
    footer {
        padding: 50px;
        font-size: 18px;
    }
    footer .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
    }
}