* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

.navbar {
    background: linear-gradient(90deg, #200045, #330066);
    width: 100%;
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.logo img {
    margin-right: 10px;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}

nav a.active {
    text-decoration: underline;
    text-underline-offset: 10px;
    font-weight: 600;
}

.trade-btn {
    background: none;
    border: 4px solid #ff5f60;
    border-radius: 25px;
    padding: 10px 22px;
    font-size: 20px;
    color: white;
}

.trade-btn:hover {
    color: #ff4b4b;
}

.pricing-plans {
    background: linear-gradient(90deg, #200045, #330066);
    color: white;
    padding: 80px 20px;
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
}

.pricing-plans p {
    opacity: 0.8;
}

.pricing-section {
    padding: 40px;
    text-align: center;
    font-size: 30px;
}

.pricing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.pricing-card {
    width: 380px;
    background: #ffffff;
    border-radius: 20px;
    text-align: left;
    margin-top: 20px;
    padding: 35px;
    border-right: 8px solid #421473;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.pricing-card:hover {
    transform: translateY(-10px);
}

.pricing-card h2 {
    font-size: 28px;
    text-align: center;
}

.pricing-card p {
    font-size: 18px;
}

.price {
    font-size: 40px;
    color: #ff5f60;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.pricing-card ul {
    margin-top: 15px;
    padding-left: 20px;
}

.pricing-card li {
    font-size: 18px;
    margin: 10px 0;
}

.select-btn {
    width: 100%;
    background-color: #421473;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.select-btn:hover {
    background-color: #5c1aa3;
}

footer {
    background-color: #330066;
    justify-content: space-between;
    padding: 100px;
    color: white;
    font-size: 20px;
}

.container {
    display: flex;
    gap: 10px;
    line-height: 2.5;
    border-bottom: 3px solid white;
    padding-bottom: 20px;
}

.container p {
    opacity: 0.5;
}

.container p:hover {
    transform: translateX(-10px);
    color: #ff5f60;
}

.copy {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(106, 106, 106);
    color: white;
    border-radius: 8px;
    background: none;
    border: 1px solid white;
}

.social-icons i:hover {
    background-color: #ff5b5b;
}

@media (max-width: 900px) {
    .pricing-plans {
        font-size: 20px;
    }
    .pricing-section {
        font-size: 25px;
    }
    .pricing-card {
        width: 300px;
        padding: 25px;
    }
    .pricing-container {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 50px;
        font-size: 18px;
    }
    footer .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
    }
}