* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.navbar {
    background: linear-gradient(90deg, #200045, #330066);
    width: 100%;
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.logo img {
    margin-right: 10px;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}

nav a.active {
    text-decoration: underline;
    text-underline-offset: 10px;
    font-weight: 600;
}

.trade-btn {
    background: none;
    border: 4px solid #ff5f60;
    border-radius: 25px;
    padding: 10px 22px;
    font-size: 20px;
    color: white;
}

.trade-btn:hover {
    color: #ff4b4b;
}

.tean-header h2 {
    color: #f94444;
    padding: 20px;
}

.team-members,
.team-category {
    margin: 100px;
    background: #1a0044;
    padding: 40px;
    border-radius: 18px;
    margin-bottom: 60px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.team-members h3,
.team-category h3 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 35px;
    font-weight: 700;
    color: #ff6f61;
}

.team-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.team-card {
    width: 350px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.team-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

.team-card .image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.team-card .text {
    padding: 20px;
    text-align: left;
    color: black;
}

.team-card h4 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.team-card p {
    color: rgb(92, 87, 87);
    font-size: 14px;
    margin-bottom: 20px;
}

.team-card .social-icons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.team-card .social-icons a {
    font-size: 22px;
    color: white;
    transition: .3s;
}

.team-card .social-icons a:hover {
    color: #ff6f61;
}

footer {
    background-color: #330066;
    justify-content: space-between;
    padding: 100px;
    color: white;
    font-size: 20px;
}

.container {
    display: flex;
    gap: 10px;
    line-height: 2.5;
    border-bottom: 3px solid white;
    padding-bottom: 20px;
}

.container p {
    opacity: 0.5;
}

.container p:hover {
    transform: translateX(-10px);
    color: #ff5f60;
}

.copy {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(106, 106, 106);
    color: white;
    border-radius: 8px;
    background: none;
    border: 1px solid white;
}

.social-icons i:hover {
    background-color: #ff5b5b;
}