body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("Event-bg.png");
}

header {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: rgba(96, 82, 107, 0.9);
    box-shadow: 0 5px 10px #222;
    position: sticky;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left img {
    width: 40px;
    border-radius: 10px;
}

.event {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

nav a:hover {
    color: rgb(255, 200, 0);
}

/* Home Section */

#home {
    display: flex;
    justify-content: center;
    padding: 40px;
    margin: auto;
    align-items: center;
    gap: 50px;
}

h1 {
    text-align: center;
    padding: 10px;
    color: rgb(235, 117, 241);
}

.home-text {
    width: 40%;
    color: white;
    line-height: 1.6;
    font-size: 20px;
}

.event-date {
    font-weight: bold;
    font-size: 1.2rem;
    color: #c0c454;
    text-align: center;
    margin: 20px;
}

button.btn {
    padding: 20px;
    background: rgb(223, 223, 31);
    color: brown;
    border-radius: 10px;
    border: none;
    font-weight: 800;
}

button.btn:hover {
    background-color: rgb(30, 157, 127);
}

.home-image img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    border: 2px solid white;
}

/* About Section */
#about {
    justify-content: center;
    padding: 40px;
    margin: 40px;
    align-items: center;
    background-color: aliceblue;
    border-radius: 20px;
}

h2 {
    text-align: center;
    padding: 10px;
    color: rgb(94, 10, 98);
}

.para {
    text-align: center;
}

.about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 30px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    background-color: cornsilk;
    padding: 20px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0 6px 12px rgba(169, 87, 87, 0.2);
    background-color: rgb(188, 148, 134);
    transition: 0.8;
}

.card h3 {
    text-align: center;
    padding: 10px;
    color: #802020;
}

.card ul,
.card p {
    opacity: 0.7;
    color: rgb(34, 30, 27);
}