body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("Event-bg.png");
}

header {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: rgba(96, 82, 107, 0.9);
    box-shadow: 0 5px 10px #222;
    position: sticky;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left img {
    width: 40px;
    border-radius: 10px;
}

.event {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

nav a:hover {
    color: rgb(255, 200, 0);
}

/* Home Section */

#home {
    display: flex;
    justify-content: center;
    padding: 40px;
    margin: auto;
    align-items: center;
    gap: 50px;
}

h1 {
    text-align: center;
    padding: 10px;
    color: rgb(235, 117, 241);
}

.home-text {
    width: 40%;
    color: white;
    line-height: 1.6;
    font-size: 20px;
}

.event-date {
    font-weight: bold;
    font-size: 1.2rem;
    color: #c0c454;
    text-align: center;
    margin: 20px;
}

button.btn {
    padding: 20px;
    background: rgb(223, 223, 31);
    color: brown;
    border-radius: 10px;
    border: none;
    font-weight: 800;
}

button.btn:hover {
    background-color: rgb(30, 157, 127);
}

.home-image img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    border: 4px double rgb(199, 173, 196);
}

/* About Section */
#about {
    justify-content: center;
    padding: 40px;
    margin: 40px;
    align-items: center;
    background-color: aliceblue;
    border-radius: 20px;
    border: 6px double #bf0ed6;
}

h2 {
    text-align: center;
    padding: 10px;
    color: rgb(94, 10, 98);
}

.para {
    text-align: center;
}

.about-info {
    display: flex;
    gap: 1.5rem;
    padding: 30px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    background-color: cornsilk;
    border: 4px groove #59655d;
    padding: 20px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0 6px 12px rgba(169, 87, 87, 0.2);
    background-color: rgb(188, 148, 134);
    transition: 0.8;
}

.card h3 {
    text-align: center;
    padding: 10px;
    color: #802020;
}

.card ul,
.card p {
    opacity: 0.7;
    color: rgb(34, 30, 27);
}

/* Services Section */
#services {
    justify-content: center;
    padding: 40px;
    margin: 40px;
    background-color: rgb(218, 189, 151);
    align-items: center;
    border-radius: 20px;
    border: 6px double #851956;
}

.services-info {
    display: flex;
    gap: 1.5rem;
    padding: 30px;
    justify-content: center;
}

/* Schedule Sections */
#schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    margin: 40px;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(193, 184, 151);
    border: 6px double #bf0ed6;
}

.scheduled-time {
    display: flex;
    gap: 1.5rem;
    padding: 30px;
    justify-content: center;
}

/* Contact Section */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    margin: 40px;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(205, 192, 138);
    border: 6px double #bf0ed6;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.contact-info {
    flex: 1;
    padding: 100px;
    min-width: 250px;
}

.contact-form {
    flex: 1;
    min-width: 300px;
    padding: 30px;
    border-radius: 20px;
    background-color: #e9e6e6;
    border: 2px dashed #222;
}

.contact-form h3 {
    text-align: center;
}

/* Tickets Section */
#tickets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 40px;
    border-radius: 20px;
    background-color: rgb(179, 171, 138);
    border: 6px double #bf0ed6;
}

.ticket-options {
    display: flex;
    gap: 1.5rem;
    padding: 30px;
    justify-content: center;
}

/* Footer */
footer {
    text-align: center;
    background-color: darkgray;
    color: darkblue;
    padding: 20px;
    font-weight: 800;
    gap: 10px;
    border: 3px solid #bf0ed6;
}

.social-icons {
    margin: 10px;
}

.social-icons a {
    color: white;
    font-size: 1.5em;
    margin: 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #09461d;  
}